.hero {

  &__img-wrapper {
    @include img(1920px, 1080px);
  }

  &--molfar-online {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

    background-size: cover;
    background-position: center;

    @include bgi('/hero/img/hero--molfar-online_720.jpg', '/hero/img/hero--molfar-online_1080.jpg');

    @include bp(1024) {

      @include bgi('/hero/img/hero--molfar-online_2560.jpg', '/hero/img/hero--molfar-online_3840.jpg');
    }
  }

  &--webinar {
    @include mg-section(2em, 3em, 1024);

    h1,
    h2 {
      margin-bottom: 0.3em;

      word-break: break-word;
      font-weight: 400;
      line-height: $line-height--small;
    }

    h1 {

      @include bp(1024) {
        font-size: $font-size-h1--tablet;
      }
    }

    h2 {

      @include bp(768) {
        font-size: $font-size-h2--tablet / 1.5;
      }
    }
  }

  &--thank-you,
  &--oops {
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;

    h1,
    h2 {
      margin-bottom: 0.3em;

      word-break: break-word;
      font-weight: 400;
      line-height: $line-height--small;
    }

    h1 {

      @include bp(1024) {
        font-size: $font-size-h1--tablet;
      }
    }

    h2 {

      @include bp(768) {
        font-size: $font-size-h2--tablet / 1.5;
      }
    }
  }
}
