.webinars-item {
  max-width: 1080px;
  display: grid;
  grid-template-columns: [start] 1fr [center] auto [end];
  padding-top: 15px;
  padding-bottom: 30px;
  @include pd(10px);

  // font-size: $font-size--small;

  border: $bd-webinars-item;
  overflow: hidden;

  @include bp(768) {

    @include pd(15px);
  }

  @include bp(1024) {

    @include pd(20px);
  }

  /* accordion CSS start */
  &.js-enabled > .webinars-item__body {
    visibility: hidden;
  }

  &.is-active > .webinars-item__body {
    visibility: visible;
    margin-top: 10px;

    @include bp-max(767) {
      margin-bottom: 30px;
    }

    @include bp(768) {
      margin-top: 20px;
    }

    @include bp(1024) {
      margin-top: 30px;
    }
  }
  /* accordion CSS end */

  &__header {
    display: grid;
    grid-template-columns: [start] 1fr [center] 1fr [end];
    grid-row-gap: 20px;
    margin-bottom: 20px;

    @include bp(768) {
      grid-template-columns: [start] minmax(280px, 476px) [date] auto [price] auto [button] auto [end];
      grid-row-gap: unset;
      grid-column-gap: 20px;
      align-items: center;
      margin-bottom: unset;
    }
  }

  &__heading-wrapper {
    grid-column: start / end;

    @include bp(768) {
      grid-column: start / date;
    }
  }

  &__title {

    &--link {
      // font-weight: normal;

      color: $text-color;
      border-bottom: 1px dashed rgba($text-color, .5);

      cursor: pointer;

      &:hover,
      &:focus,
      &:active {
        border-bottom-color: rgba($text-color, 1);
      }
    }
  }

  &__date-wrapper {
    display: flex;
    grid-column: start;

    @include bp(768) {
      grid-column: date / price;
      flex-direction: column;
      align-items: flex-end;
    }
  }

  &__date {
    color: $text-color--inactive;
    white-space: nowrap;

    &--old {
      margin-right: 0.7em;

      color: $grey--light;
      text-decoration-line: line-through;

      @include bp(768) {
        margin-right: unset;
      }
    }
  }

  &__price-wrapper {
    display: flex;
    grid-column: center;
    justify-self: end;

    @include bp(768) {
      grid-column: price / button;
      flex-direction: column;
      align-items: flex-end;
    }
  }

  &__price {
    color: $text-color--inactive;
    white-space: nowrap;

    &--old {
      margin-right: 0.7em;

      color: $grey--light;
      text-decoration-line: line-through;

      @include bp(768) {
        margin-right: unset;
      }
    }
  }

  &__body {
    grid-row: 2;
    grid-column: start / end;
    display: grid;

    overflow: hidden; // for accordion

    @include bp(768) {
      grid-row: 2;
      grid-column: start / end;
      grid-template-columns: [start] minmax(430px, 1fr) minmax(50px, 90px) [gap] minmax(200px, 300px) [end];
    }
  }

  &__side-wrapper {

    @include bp-max(767) {
      order: -1;
      margin-bottom: 20px;
    }

    @include bp(768) {
      grid-row: 1;
      grid-column: gap / end;
    }
  }

  &__img-wrapper {
    @include img(100%, 100%);
    margin-bottom: 10px;

    @include bp(1024) {
      margin-bottom: 15px;
    }
  }

  &__button-wrapper {
    grid-column: start / end;
    justify-self: center;

    @include bp(768) {
      grid-row: 1;
      grid-column: center / end;
      justify-self: end;
      align-self: center;
    }
  }
}
