mixin webinars-item(lector, title)
  +b.LI.webinars-item.__item
    +e.header
      +e.heading-wrapper
        +e.H3.heading
          +e.A.title--link()= lector + ' — ' + title
      +e.date-wrapper
        +e.TIME.date(datetime='2019-10-12 18:00') 12 октября
      +e.price-wrapper
        +e.SPAN.price 1 000 ₴

    +e.body
      +e.text-wrapper
        +e.P.text На вебинаре мы разберем горизонтальный градиент, вертикальный, растушевку в 3 и более цветов, расскажем о всех секретах линеарного обмре, покажем как победить в градиенте крупные блестки.

        +e.P.text--title
          strong На вебинаре вы узнаете:

        +b.UL.list--unordered
          +e.LI.item
            +e.P.text основные тенденции и направления в работе с клиентами
          +e.LI.item
            +e.P.text различные уровни сервиса и ожидания клиентов
          +e.LI.item
            +e.P.text способы соответствия ожиданиям клиента
          +e.LI.item
            +e.P.text структуру процесса обслуживания клиентов
          +e.LI.item
            +e.P.text этикет телефонного обслуживания
          +e.LI.item
            +e.P.text о формировании позитивных впечатлений клиентов
          +e.LI.item
            +e.P.text основные ошибки при работе с клиентами
          +e.LI.item
            +e.P.text различные подходы к решению проблем клиентов
          +e.LI.item
            +e.P.text об инструментах создания лояльности клиентов салона красоты

        +e.P.text--title
          strong Кому будет полезен:

        +b.OL.list--ordered
          +e.LI.item
            +e.P.text владельцам
          +e.LI.item
            +e.P.text администраторам
          +e.LI.item
            +e.P.text мастерам

        +e.P.text--title
          strong Кому ещё будет полезен:

        +e.P.text Нашим и вашим.
        +e.P.text И ещё
          i  ихним,
          b  конечно.

        +e.P.text
          +e.A.link(href='https://www.facebook.com/Vladyslav.Vavilov', target='_blank', rel='noopener') Влад Вавилов
          |  — бизнес-тренер, автор 7 книг, в том числе «Реклама красоты. Практика», «Качественный сервис», «АДмин». Создатель и управленец предприятий индустрии красоты и фитнеса.

        +e.P.text
          +e.A.link(href='https://www.facebook.com/events/2355776434677356/', target='_blank', rel='noopener') Фейсбук-мероприятие вебинара
          | . Отмечая, что идёте, вы поможете нам в продвижении наших вебинаров.

      +e.side-wrapper
        +srcset(
          lector,
          'img/webinars-item/img/webinars-item_360.jpg',
          'img/webinars-item/img/webinars-item_720.jpg',
          'img/webinars-item/img/webinars-item_1080.jpg'
          )
        +e.P.text--time
          time(datetime='2019-10-12 18:00') 18:00 – 21:00
        +e.P.text Планируем небольшой перерыв после 19:30
        +b.P.text--featured.__text 7 участников

    +e.button-wrapper
      +b.A.button--webinar-active.__button
        span Записаться


mixin webinars-new-price(lector, title)
  +b.LI.webinars-item.__item
    +e.header
      +e.heading-wrapper
        +e.H3.heading
          +e.A.title--link()= lector + ' — ' + title
      +e.date-wrapper
        +e.TIME.date(datetime='2019-10-12 18:00') 12 октября
      +e.price-wrapper
        +e.SPAN.price--old 400 ₴
        +e.SPAN.price 1 000 ₴

    +e.body
      +e.text-wrapper
        +e.P.text На вебинаре мы разберем горизонтальный градиент, вертикальный, растушевку в 3 и более цветов, расскажем о всех секретах линеарного обмре, покажем как победить в градиенте крупные блестки.

        +e.P.text--title
          strong На вебинаре вы узнаете:

        +b.UL.list--unordered
          +e.LI.item
            +e.P.text основные тенденции и направления в работе с клиентами
          +e.LI.item
            +e.P.text различные уровни сервиса и ожидания клиентов
          +e.LI.item
            +e.P.text способы соответствия ожиданиям клиента
          +e.LI.item
            +e.P.text структуру процесса обслуживания клиентов
          +e.LI.item
            +e.P.text этикет телефонного обслуживания
          +e.LI.item
            +e.P.text о формировании позитивных впечатлений клиентов
          +e.LI.item
            +e.P.text основные ошибки при работе с клиентами
          +e.LI.item
            +e.P.text различные подходы к решению проблем клиентов
          +e.LI.item
            +e.P.text об инструментах создания лояльности клиентов салона красоты

        +e.P.text--title
          strong Кому будет полезен:

        +b.OL.list--ordered
          +e.LI.item
            +e.P.text владельцам
          +e.LI.item
            +e.P.text администраторам
          +e.LI.item
            +e.P.text мастерам

        +e.P.text--title
          strong Кому ещё будет полезен:

        +e.P.text Нашим и вашим.
        +e.P.text И ещё
          i  ихним,
          b  конечно.

        +e.P.text
          +e.A.link(href='https://www.facebook.com/Vladyslav.Vavilov', target='_blank', rel='noopener') Влад Вавилов
          |  — бизнес-тренер, автор 7 книг, в том числе «Реклама красоты. Практика», «Качественный сервис», «АДмин». Создатель и управленец предприятий индустрии красоты и фитнеса.

        +e.P.text
          +e.A.link(href='https://www.facebook.com/events/2355776434677356/', target='_blank', rel='noopener') Фейсбук-мероприятие вебинара
          | . Отмечая, что идёте, вы поможете нам в продвижении наших вебинаров.

      +e.side-wrapper
        +srcset(
          lector,
          'img/webinars-item/img/webinars-item_360.jpg',
          'img/webinars-item/img/webinars-item_720.jpg',
          'img/webinars-item/img/webinars-item_1080.jpg'
          )
        +e.P.text--time
          time(datetime='2019-10-12 18:00') 18:00 – 21:00
        +e.P.text Планируем небольшой перерыв после 19:30
        +b.P.text--featured.__text 7 участников

    +e.button-wrapper
      +b.A.button--webinar-active.__button
        span Записаться


mixin webinars-new-date(lector, title)
  +b.LI.webinars-item.__item
    +e.header
      +e.heading-wrapper
        +e.H3.heading
          +e.A.title--link()= lector + ' — ' + title
      +e.date-wrapper
        +e.TIME.date--old(datetime='2019-10-12 18:00') 12 октября
        +e.TIME.date(datetime='2019-10-13 18:00') 13 октября
      +e.price-wrapper
        +e.SPAN.price 1 000 ₴

    +e.body
      +e.text-wrapper
        +e.P.text На вебинаре мы разберем горизонтальный градиент, вертикальный, растушевку в 3 и более цветов, расскажем о всех секретах линеарного обмре, покажем как победить в градиенте крупные блестки.

        +e.P.text--title
          strong На вебинаре вы узнаете:

        +b.UL.list--unordered
          +e.LI.item
            +e.P.text основные тенденции и направления в работе с клиентами
          +e.LI.item
            +e.P.text различные уровни сервиса и ожидания клиентов
          +e.LI.item
            +e.P.text способы соответствия ожиданиям клиента
          +e.LI.item
            +e.P.text структуру процесса обслуживания клиентов
          +e.LI.item
            +e.P.text этикет телефонного обслуживания
          +e.LI.item
            +e.P.text о формировании позитивных впечатлений клиентов
          +e.LI.item
            +e.P.text основные ошибки при работе с клиентами
          +e.LI.item
            +e.P.text различные подходы к решению проблем клиентов
          +e.LI.item
            +e.P.text об инструментах создания лояльности клиентов салона красоты

        +e.P.text--title
          strong Кому будет полезен:

        +b.OL.list--ordered
          +e.LI.item
            +e.P.text владельцам
          +e.LI.item
            +e.P.text администраторам
          +e.LI.item
            +e.P.text мастерам

        +e.P.text--title
          strong Кому ещё будет полезен:

        +e.P.text Нашим и вашим.
        +e.P.text И ещё
          i  ихним,
          b  конечно.

        +e.P.text
          +e.A.link(href='https://www.facebook.com/Vladyslav.Vavilov', target='_blank', rel='noopener') Влад Вавилов
          |  — бизнес-тренер, автор 7 книг, в том числе «Реклама красоты. Практика», «Качественный сервис», «АДмин». Создатель и управленец предприятий индустрии красоты и фитнеса.

        +e.P.text
          +e.A.link(href='https://www.facebook.com/events/2355776434677356/', target='_blank', rel='noopener') Фейсбук-мероприятие вебинара
          | . Отмечая, что идёте, вы поможете нам в продвижении наших вебинаров.

      +e.side-wrapper
        +srcset(
          lector,
          'img/webinars-item/img/webinars-item_360.jpg',
          'img/webinars-item/img/webinars-item_720.jpg',
          'img/webinars-item/img/webinars-item_1080.jpg'
          )
        +e.P.text--time
          time(datetime='2019-10-12 18:00') 18:00 – 21:00
        +e.P.text Планируем небольшой перерыв после 19:30
        +b.P.text--featured.__text 7 участников

    +e.button-wrapper
      +b.A.button--webinar-active.__button
        span Записаться


mixin webinars-item--old(lector, title)
  +b.LI.webinars-item.__item
    +e.header
      +e.heading-wrapper
        +e.H3.heading
          +e.A.title--link()= lector + ' — ' + title
      +e.date-wrapper
        +e.TIME.date(datetime='2019-10-12 18:00') 12 октября
      +e.price-wrapper
        +e.SPAN.price 1 000 ₴

    +e.body
      +e.text-wrapper
        +e.P.text На вебинаре мы разберем горизонтальный градиент, вертикальный, растушевку в 3 и более цветов, расскажем о всех секретах линеарного обмре, покажем как победить в градиенте крупные блестки.

        +e.P.text--title
          strong На вебинаре вы узнаете:

        +b.UL.list--unordered
          +e.LI.item
            +e.P.text основные тенденции и направления в работе с клиентами
          +e.LI.item
            +e.P.text различные уровни сервиса и ожидания клиентов
          +e.LI.item
            +e.P.text способы соответствия ожиданиям клиента
          +e.LI.item
            +e.P.text структуру процесса обслуживания клиентов
          +e.LI.item
            +e.P.text этикет телефонного обслуживания
          +e.LI.item
            +e.P.text о формировании позитивных впечатлений клиентов
          +e.LI.item
            +e.P.text основные ошибки при работе с клиентами
          +e.LI.item
            +e.P.text различные подходы к решению проблем клиентов
          +e.LI.item
            +e.P.text об инструментах создания лояльности клиентов салона красоты

        +e.P.text--title
          strong Кому будет полезен:

        +b.OL.list--ordered
          +e.LI.item
            +e.P.text владельцам
          +e.LI.item
            +e.P.text администраторам
          +e.LI.item
            +e.P.text мастерам

        +e.P.text--title
          strong Кому ещё будет полезен:

        +e.P.text Нашим и вашим.
        +e.P.text И ещё
          i  ихним,
          b  конечно.

        +e.P.text
          +e.A.link(href='https://www.facebook.com/Vladyslav.Vavilov', target='_blank', rel='noopener') Влад Вавилов
          |  — бизнес-тренер, автор 7 книг, в том числе «Реклама красоты. Практика», «Качественный сервис», «АДмин». Создатель и управленец предприятий индустрии красоты и фитнеса.

        +e.P.text
          +e.A.link(href='https://www.facebook.com/events/2355776434677356/', target='_blank', rel='noopener') Фейсбук-мероприятие вебинара
          | . Отмечая, что идёте, вы поможете нам в продвижении наших вебинаров.

      +e.side-wrapper
        +srcset(
          lector,
          'img/webinars-item/img/webinars-item_360.jpg',
          'img/webinars-item/img/webinars-item_720.jpg',
          'img/webinars-item/img/webinars-item_1080.jpg'
          )
        +e.P.text--time
          time(datetime='2019-10-12 18:00') 18:00 – 21:00
        +e.P.text Планируем небольшой перерыв после 19:30
        +b.P.text--featured.__text 7 участников

    +e.button-wrapper
      +b.A.button--webinar-inactive.__button
        span Посмотреть
