.list {
  list-style-position: inside;

  // &--ordered {
  //   list-style-type: decimal;
  // }

  &--unordered {
    list-style-type: disc;
    // list-style: '— '; // FF supports that
  }

  &--unstyle {
    list-style-type: none;
  }

  &__item > [class$='__text'] {
    display: inline;
  }
}
