extends ../layouts/layout

block meta
  - var title = 'Molfar Online — Molfar Beauty Forum'
  - var description = 'Вебинары для профессионалов индустрии красоты. Парикмахерское искусство (стрижка, укладка, окрашивание). Визаж (макияж и работа с бровями). Маникюр и педиюкр. Бьюти-менеджмент'
  - var ogImage = ''
  - var pageModifier = '--molfar-online'
  - var currentUrl = '/'

block content
  +b.SECTION.hero--molfar-online
    +e.container.container
      +b.HEADER.heading.__heading
        +e.H1.title
          span Molfar Online

  +b.SECTION.webinars-list
    +e.container.container
      +b.HEADER.heading.__heading
        +e.H2.title
          span Предстоящие
          br
          span вебинары

      +e.OL.list
        +webinars-item('Константин Константинопольский', 'моделирование и окрашивание бровей')
        +webinars-new-date('Константин Константинопольский', 'моделирование и окрашивание бровей')
        +webinars-new-price('Константин Константинопольский', 'моделирование и окрашивание бровей')
        +webinars-item--old('Константин Константинопольский', 'моделирование и окрашивание бровей')

      +b.BUTTON.button--webinars-list-more.__button
        span Показать ещё 10
