extends ../layouts/layout

block meta
  - var title = 'Константин Константинопольский — моделирование и окрашивание бровей'
  - var description = ''
  - var ogImage = ''
  - var pageModifier = '--oops'

block content
  +b.SECTION.hero--oops
    +e.container.container
      +b.HEADER.heading.__heading
        +e.H1.title Не получилось 😢
        +e.P.text Платёж был отменен. Попробуйте ещё или свяжитесь с вашим банком.
