extends ../layouts/layout

block meta
  - var title = 'Константин Константинопольский — моделирование и окрашивание бровей'
  - var description = ''
  - var ogImage = ''
  - var pageModifier = '--thank-you'

block content
  +b.SECTION.hero--thank-you
    +e.container.container
      +b.HEADER.heading.__heading
        +e.H1.title Проверьте почту 💌
        //- +e.P.text Вы успешно записались на вебинар. На указанную почту выслано письмо с инструкциями.
        +e.P.text Спасибо, что записались на вебинар! После обработки данных мы вышлем вам письмо с инструкциями.
