extends ../layouts/layout

block meta
  - var title = 'Константин Константинопольский — моделирование и окрашивание бровей'
  - var description = 'Заполните короткую форму, чтобы записаться на вебинар'
  - var ogImage = ''
  - var pageModifier = '--webinar'

block content
  +b.SECTION.hero--webinar
    +e.container.container
      +b.HEADER.heading.__heading
        +e.H1.title Запись на вебинар Константина Константинопольского
      +e.P.text
        +e.TIME.date(datetime='2019-09-10 16:00') 10 сентября (вторник) в 16:00 (время по Киеву, UTC +2)
      +b.P.text--featured.__text 7 участников

      +srcset-hd(
        'Константин Константинопольский',
        'img/webinars-item/img/webinars-item-2_720.jpg',
        'img/webinars-item/img/webinars-item-2_1080.jpg',
        'img/webinars-item/img/webinars-item-2_1440.jpg',
        'img/webinars-item/img/webinars-item-2_1920.jpg'
        )

      +e.text-wrapper
        +e.H2.text--title Моделирование и окрашивание бровей

        +e.P.text Тема: «Моделирование и окрашивание бровей с использованием горизонтального градиента»

        +e.P.text На вебинаре мы разберем горизонтальный градиент, вертикальный, растушевку в 3 и более цветов, расскажем о всех секретах линеарного обмре, покажем как победить в градиенте крупные блестки.

        +e.P.text--title
          strong На вебинаре вы узнаете:

        +b.UL.list--unordered
          +e.LI.item
            +e.P.text основные тенденции и направления в работе с клиентами
          +e.LI.item
            +e.P.text различные уровни сервиса и ожидания клиентов
          +e.LI.item
            +e.P.text способы соответствия ожиданиям клиента
          +e.LI.item
            +e.P.text структуру процесса обслуживания клиентов
          +e.LI.item
            +e.P.text этикет телефонного обслуживания
          +e.LI.item
            +e.P.text о формировании позитивных впечатлений клиентов
          +e.LI.item
            +e.P.text основные ошибки при работе с клиентами
          +e.LI.item
            +e.P.text различные подходы к решению проблем клиентов
          +e.LI.item
            +e.P.text об инструментах создания лояльности клиентов салона красоты

        +e.P.text--title
          strong Кому будет полезен:

        +b.OL.list--ordered
          +e.LI.item
            +e.P.text владельцам
          +e.LI.item
            +e.P.text администраторам
          +e.LI.item
            +e.P.text мастерам

        +e.P.text--title
          strong Кому ещё будет полезен:

        +e.P.text Нашим и вашим.
        +e.P.text И ещё
          i  ихним,
          b  конечно.

        +e.P.text
          +e.A.link(href='https://www.facebook.com/Vladyslav.Vavilov', target='_blank', rel='noopener') Влад Вавилов
          |  — бизнес-тренер, автор 7 книг, в том числе «Реклама красоты. Практика», «Качественный сервис», «АДмин». Создатель и управленец предприятий индустрии красоты и фитнеса.

        +e.P.text
          +e.A.link(href='https://www.facebook.com/events/2355776434677356/', target='_blank', rel='noopener') Фейсбук-мероприятие вебинара
          | . Отмечая, что идёте, вы поможете нам в продвижении наших вебинаров.

        +e.P.text Стоимость:
          b  1 000 грн

        +e.P.text Продолжительность вебинара: 2 часа

  +b.SECTION.faq
    +e.container.container
      +b.HEADER.heading.__heading
        +e.H3.title FAQ

      +e.text-wrapper
        +e.P.text--title
          strong Как происходит оплата?
        +e.P.text Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Правилами он над дороге вершину!
        +e.P.text--title
          strong Можно ли оплатить другой валютой (не в гривне)?
        +e.P.text Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Правилами он над дороге вершину!
        +e.P.text--title
          strong Как узнать, получили ли вы мой платёж?
        +e.P.text Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Правилами он над дороге вершину!
        +e.P.text--title
          strong Могу ли я посмотреть вебинар в записи?
        +e.P.text Можете 😌
        +e.P.text--title
          strong Сколько дней будет доступна запись?
        +e.P.text Запись будет доступна 7 дней.
        +e.P.text--title
          strong Когда приходит ссылка на вебинар?
        +e.P.text Ссылку на вебинар мы высылаем за час до вебинара на указанную почту
        +e.P.text--title
          strong По какому времени проходят вебинары?
        +e.P.text По киевскому. Зимой это UTC +2.
        +e.P.text--title
          strong Вебинар уже прошёл. Можно ли купить запись?
        +e.P.text Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Проектах большой свою речью себя!

        +e.P.text--title
          strong Контакты:

        +b.UL.list--unordered
          +e.LI.item
            +e.P.text Инстаграм: #[+e.A.link(href='https://instagram.com/molfarforum', target='_blank', rel='noopener') @molfarforum]
          +e.LI.item
            +e.P.text Телеграм: #[+e.A.link(href='https://t.me/molfarforum', target='_blank', rel='noopener') @molfarforum]
          +e.LI.item
            +e.P.text Фейсбук: #[+e.A.link(href='https://facebook.com/molfarforum', target='_blank', rel='noopener') @molfarforum]
          +e.LI.item
            +e.P.text Сайт: #[+e.A.link(href='https://online.molfarforum.com', target='_blank', rel='noopener') online.molfarforum.com]
          +e.LI.item
            +e.P.text Почта: #[+e.A.link(href='mailto:online@molfarforum.com') online@molfarforum.com]

        +e.P.text--title
          strong Телефоны (Ирина):

        +b.UL.list--unordered
          +e.LI.item
            +e.P.text #[+e.A.link(href='tel:+380 (98) 318 71 15') +380 (98) 318 71 15]
          +e.LI.item
            +e.P.text #[+e.A.link(href='tel:+380 (66) 558 31 07') +380 (66) 558 31 07]

  +b.SECTION.registration
    +e.container.container
      +b.HEADER.heading.__heading
        +e.H3.title Для записи на вебинар заполните форму ниже
        +e.P.description Код доступа будет выслан на указанную почту за час до начала вебинара или сразу, если вы записали позже

      +b.FORM.form--webinar
        +form-line(
          'Имя',
          'text',
          'Анастасия',
          'firstname',
          'required'
          )
        +form-line(
          'Фамилия',
          'text',
          'Ресничкина',
          'lastname',
          'required'
          )
        +form-line(
          'Телефон',
          'tel',
          '+380 (00) 000 00 00',
          'phone',
          'required'
          )
        +form-line(
          'Адрес электронной почты',
          'email',
          'anastasia@mail.com',
          'email',
          'required'
          )
        +form-line(
          'Промокод (не обязательно)',
          'text',
          '',
          'promocode'
          )
        +form-line(
          'Откуда вы нас смотрите? (не обязательно)',
          'text',
          'Киев',
          'city'
          )
        +form-line--textarea(
          'Комментарий (не обязательно)',
          '^_~',
          '5',
          '65535',
          'comment'
        )

        +b.BUTTON.button--webinar-active.__button
          span Оплатить
