+b.HEADER.header
  +e.container.container
    +e.NAV.nav
      +e.A.link--logo(href= (currentUrl=='/') ? false : '/') Главная
        +icon('molfar', '121.67', '30')

      +e.UL.list--links
        +e.LI.link-wrapper--mobile
          +e.A.link(href= (currentUrl=='/') ? false : '/') Главная
        +e.LI.link-wrapper
          +e.A.link(href= (currentUrl=='https://molfarforum.com') ? false : 'https://molfarforum.com') Forum
        +e.LI.link-wrapper
          +e.A.link(href= (currentUrl=='https://news.molfarforum.com/') ? false : 'https://news.molfarforum.com/') Новости
