.webinars-list {
  padding-top: 50px;
  padding-bottom: 50px;

  &__heading {
    margin-bottom: 30px;

    @include bp(768) {
      margin-bottom: 50px;
    }
  }

  &__list {
    @include mg-bottom(40px);

    @include bp(1024) {
      @include mg-bottom(50px);
    }
  }

  &__item {
    @include mg-bottom(20px);

    @include bp(1024) {
      @include mg-bottom(30px);
    }
  }

  &__button {
    display: block;
    @include mg(auto);
  }
}
