$a-webinar: #ff6443;
$a-featured: #2d9cdb;
$a-mf: #dc272d;

$text-color: #333;
$text-color--inactive: #828282;

$grey--light: #bdbdbd;

// links
$link-color: $a-featured;
$link-color--hover: $a-featured; // !default

// borders
$bd-color: rgba($text-color, .25);

// gradients
$g-molfar: linear-gradient(180deg, $a-webinar 0%, #c5001e 100%);
$g-lazyloading: linear-gradient($text-color--inactive, rgba($text-color--inactive, .5));

// backgorunds
$bg-lazyloading: rgba(#000, .9);
$bg-button: #e5e5e5;
