$font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
$font-family--serif: 'Georgia', 'Times New Roman', 'Times', serif;
$font-family--monospace: SFMono-Regular, 'Menlo', 'Monaco', 'Consolas', 'Liberation Mono', 'Courier New', monospace;
$font-family--headings: $font-family;

$font-size: 12px;
$font-size--desktop: 18px;

$font-size-h1: 36px;
$font-size-h2: 36px;
$font-size-h3: 16px;
$font-size-h4: 16px; // !default
$font-size-h5: 16px; // !default
$font-size-h6: 16px; // !default

$font-size-h1--tablet: 64px;
$font-size-h2--tablet: 64px;
$font-size-h3--tablet: 16px;
$font-size-h4--tablet: 16px; // !default
$font-size-h5--tablet: 16px; // !default
$font-size-h6--tablet: 16px; // !default

$font-size-h1--desktop: 96px;
$font-size-h2--desktop: 96px;
$font-size-h3--desktop: 24px;
$font-size-h4--desktop: $font-size--desktop; // !default
$font-size-h5--desktop: $font-size--desktop; // !default
$font-size-h6--desktop: $font-size--desktop; // !default

$font-size--small: .75em;

$font-size-button: 14px;
$font-size-button--desktop: 21px;

$line-height: 1.4;
$line-height--headings: 1.25;
$line-height--small: 1.1;

$letter-spacing: .0357143em;

body {
  font-family: $font-family;
  font-size: $font-size;
  line-height: $line-height;
  font-weight: 400;
  color: $text-color;
  letter-spacing: $letter-spacing;

  @include bp(1024) {
    font-size: $font-size--desktop;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: unset;
  // @include mg-bottom(1em);

  font-family: $font-family--headings;
  font-weight: 700;
  line-height: $line-height--headings;
  // color: $accent;
}

h1 {
  font-size: $font-size-h1;

  @include bp(768) {
    font-size: $font-size-h1--tablet;
  }

  @include bp(1024) {
    font-size: $font-size-h1--desktop;
  }
}

h2 {
  font-size: $font-size-h2;

  @include bp(768) {
    font-size: $font-size-h2--tablet;
  }

  @include bp(1024) {
    font-size: $font-size-h2--desktop;
  }
}

h3 {
  font-size: $font-size-h3;

  @include bp(768) {
    font-size: $font-size-h3--tablet;
  }

  @include bp(1024) {
    font-size: $font-size-h3--desktop;
  }
}

h4 {
  font-size: $font-size-h4;

  @include bp(768) {
    font-size: $font-size-h4--tablet;
  }

  @include bp(1024) {
    font-size: $font-size-h4--desktop;
  }
}

h5 {
  font-size: $font-size-h5;

  @include bp(768) {
    font-size: $font-size-h5--tablet;
  }

  @include bp(1024) {
    font-size: $font-size-h5--desktop;
  }
}

h6 {
  font-size: $font-size-h6;

  @include bp(768) {
    font-size: $font-size-h6--tablet;
  }

  @include bp(1024) {
    font-size: $font-size-h6--desktop;
  }
}

p,
ul,
ol,
dl,
table,
blockquote,
pre,
address,
figure {
  padding: unset;
  margin: unset;
  @include mg-bottom($margin);
}

ul,
ol {
  list-style-position: inside;
}

ul {
  list-style-type: disc;
}

li > p,
li > a {
  display: inline;
}

// body title elements will held closer to texts and lists
p[class$='--title'] + p,
p[class$='--title'] + ol,
p[class$='--title'] + ul,
p[class~='title'] + p,
p[class~='title'] + ol,
p[class~='title'] + ul {
  margin-top: -$margin;
}

address {
  font-style: normal;
}

small,
sub,
sup {
  font-style: $font-size--small;
}

code,
kbd,
pre,
samp {
  font-family: $font-family--monospace;
}
